arabic-reshaper
asgiref
beautifulsoup4
boto3
botocore
certifi
charset-normalizer
click
coreapi
coreschema
dataclasses
Django
django-cors-headers
django-rest-swagger
djangorestframework
drf-yasg
Flask
future
html5lib
idna
importlib-metadata
inflection
itsdangerous
itypes
Jinja2
jmespath
jsonfield
lxml
MarkupSafe
mysqlclient
numpy
openapi-codec
packaging
pandas
pdfkit
Pillow
PyJWT
PyMySQL
pyparsing
PyPDF2
python-bidi
python-dateutil
pytz
reportlab
requests
ruamel.yaml
ruamel.yaml.clib
s3transfer
selenium
simplejson
six
soupsieve
sqlparse
typing_extensions
uritemplate
urllib3
webencodings
Werkzeug
xhtml2pdf
zipp