<!DOCTYPE html>
<html>

<head>
    <style>
        h1 {
            font-size: 32px;
        }
        div {
            font-size: 16px;
        }
         td.left-td-style {
            width: 250px;
            vertical-align: top;
        }
        div.left-div-style {
            text-align: right;

        }
         td.right-td-style {
            text-align: left;
            padding-left: 5px;
        }
        @page {
            size: a4 portrait;
            margin: 1cm;
        }
    </style>
</head>


<body>

    <h1>Itinerary</h1>
    <div>
        <h2>Gig</h2>
        <hr>

        <!-- style="width: 90%;margin-left: 150px;" -->
        <table>
            <tr>
                <td class="left-td-style">
                    <div class="left-div-style"> Act :</div>
                </td>
                
                <td class="right-td-style">
                    {{user.username}}
                </td>
            </tr>
            <tr>
                <td class="left-td-style">
                    <div class="left-div-style"> Name :</div>
                </td> 
                
                <td class="right-td-style">
                    {{gig_list.title}}
                </td>
            </tr>
            <tr>
                <td class="left-td-style">
                    <div class="left-div-style"> Date :</div>
                </td> 
                
                <td class="right-td-style">
                    {{ gig_list.start_date|date:"l d M Y"}}
                </td>
            </tr>
            <tr>
                <td class="left-td-style">
                    <div class="left-div-style"> Doors open/close :</div>
                </td> 
                
                <td class="right-td-style">
                    {{gig_list.start_date|date:"H:i" }} to {{gig_list.end_date|date:"H:i" }}
                </td>
            </tr>
            <tr>
                <td class="left-td-style">
                    <div class="left-div-style"> Show type :</div>
                </td> 
                
                <td class="right-td-style">
                    {{gig_list.show}}
                </td>
            </tr>
            <tr>
                <td class="left-td-style">
                    <div class="left-div-style"> Stage :</div>
                </td> 
                
                <td class="right-td-style">
                    {{gig_list.stage}}
                </td>
            </tr>
            <tr>
                <td class="left-td-style">
                    <div class="left-div-style"> Visa :</div>
                </td> 
                
                <td class="right-td-style">
                    {{gig_list.visa}}
                </td>
            </tr>
            <tr>
                <td class="left-td-style">
                    <div class="left-div-style"> Equipment :</div>
                </td> 
                
                <td class="right-td-style">
                    <div><b>{{gig_list.Equipment}}</b></div>
                    <div>{{gig_list.Equipment_email}}</div>
                    <div>{{gig_list.descriptions}}</div>  
                </td>
            </tr>
            <tr>
                <td class="left-td-style">
                    <div class="left-div-style"> Sound check :</div>
                </td> 
                
                <td class="right-td-style">
                    {{gig_list.sound_check_time}}
                </td>
            </tr>
            {% if not pregig.title is None %}
            <tr>
                <td class="left-td-style">
                    <div class="left-div-style"> Previous act :</div>
                </td> 
                
                <td class="right-td-style">
                    {{pregig.title}}
                </td>
            </tr>
            {% endif %}
            {% if not nextgig.title is None %}
            
            {% endif %}
        </table>
       

        <div>
            {% if not contact_list is None %}
            <h2>Contacts</h2>
            <hr>
            {% for contact in contact_list %}
            {% if contact.travelling_party is False%}

            <table>
                <tr>
                    <td class="left-td-style">
                        <div class="left-div-style"> {{contact.type}} :</div>
                    </td> 
                    
                    <td class="right-td-style">
                        <b>{{contact.name}}</b>
                        <span>  Tel: {{contact.number}}</span>
                        <span>  Email: {{contact.email}}</span>
                    </td>
                </tr>
            </table>
            {% endif %}
            {% endfor %}

            
            {% if True in cont %}
            <h3>Travelling party</h3>
            {% endif %}
            {% for contact in contact_list %}
            {% if contact.travelling_party is True%}
            <table>
                <tr>
                    <td class="left-td-style">
                        <div class="left-div-style"> {{contact.type}} :</div>
                    </td> 
                    
                    <td class="right-td-style">
                        <b>{{contact.name}}</b>
                        <span>  Tel: {{contact.number}}</span>
                        <span>  Email: {{contact.email}}</span>
                    </td>
                </tr>
            </table>
            {% endif %}
            {% endfor %}
            {% endif %}

            {% if not venue_list is None %}
            <h2>Venue</h2>
            <hr>
            {% for venue in venue_list%}
            {% if venue_list|length >= 2 %}
            <h3>Venue {{forloop.counter}}</h3>
            {% endif %}
            <table>
                <tr>
                    <td class="left-td-style">
                        <div class="left-div-style"> Name :</div>
                    </td> 
                    
                    <td class="right-td-style">
                        {{venue.venue_name}}
                    </td>
                </tr>
                <tr>
                    <td class="left-td-style">
                        <div class="left-div-style"> Website :</div>
                    </td> 
                    
                    <td class="right-td-style">
                        {{venue.website}}
                    </td>
                </tr>
                
                <tr>
                    <td class="left-td-style">
                        <div class="left-div-style"> Phone :</div>
                    </td> 
                    
                    <td class="right-td-style">
                        {{venue.number}}
                    </td>
                </tr>
                <tr>
                    <td class="left-td-style">
                        <div class="left-div-style"> Address :</div>
                    </td> 
                    
                    <td class="right-td-style">
                        {{venue.address}}
                    </td>
                </tr>
                <tr>
                    <td class="left-td-style">
                        <div class="left-div-style"> Details :</div>
                    </td> 
                    
                    <td class="right-td-style">
                        <div>Indoor: {{venue.indoor}}</div>
                        <div>Covered: {{venue.covered}}</div>
                    </td>
                </tr>
                <tr>
                    <td class="left-td-style">
                        <div class="left-div-style"> Credential collection :</div>
                    </td> 
                    
                    <td class="right-td-style">
                        {{venue.credential_collection}}
                    </td>
                </tr>
                <tr>
                    <td class="left-td-style">
                        <div class="left-div-style"> Dressing room :</div>
                    </td> 
                    
                    <td class="right-td-style">
                        {{venue.dressing_room}}
                    </td>
                </tr>
                <tr>
                    <td class="left-td-style">
                        <div class="left-div-style"> Hospitality :</div>
                    </td> 
                    
                    <td class="right-td-style">
                        <div><b>{{venue.hospitality}}</b></div>
                        <div>{{venue.hospitality_detail}}</div>
                        <div>{{venue.hospitality_email}}</div>
                    </td>
                </tr>
                <tr>
                    <td class="left-td-style">
                        <div class="left-div-style"> Catring :</div>
                    </td> 
                    
                    <td class="right-td-style">
                        <div><b>{{venue.catring}}</b></div>
                        <div>{{venue.catring_detail}}</div>
                    </td>
                </tr>
            </table>
            {% endfor %}
            {% endif %}

            {% if not hotel_list is None %}
            <h2>Hotel</h2>
            <hr>

            {% for hotel in hotel_list %}
            {% if hotel_list|length >= 2 %}
            <h3>Hotel{{forloop.counter}}</h3>
            {% endif %}
            <table>
                <tr>
                    <td class="left-td-style">
                        <div class="left-div-style"> Name :</div>
                    </td> 
                    
                    <td class="right-td-style">
                        {{hotel.hotel_name}}
                    </td>
                </tr>
                <tr>
                    <td class="left-td-style">
                        <div class="left-div-style"> Phone :</div>
                    </td> 
                    
                    <td class="right-td-style">
                        {{hotel.number}}
                    </td>
                </tr>
                <tr>
                    <td class="left-td-style">
                        <div class="left-div-style"> Address :</div>
                    </td> 
                    
                    <td class="right-td-style">
                        {{hotel.address}}
                    </td>
                </tr>
                <tr>
                    <td class="left-td-style">
                        <div class="left-div-style"> Website :</div>
                    </td> 
                    
                    <td class="right-td-style">
                        {{hotel.website}}
                    </td>
                </tr>
                <tr>
                    <td class="left-td-style">
                        <div class="left-div-style"> Room buyout :</div>
                    </td> 
                    
                    <td class="right-td-style">
                        {{hotel.room_buyout}}
                    </td>
                </tr>
            </table>
            
            {% endfor %}
            {% endif %}


            {% if not all is None %}
            <h2>Schedule</h2>
            <hr>
            {% endif %}
            <!-- {{settime_list}} -->

            {% for a in all|dictsort:"depart_time" %}
            {% if not cab_list is None %}
            {% if a in cab_list %}
            <h2>Car</h2>
            <table>
                <tr>
                    <td class="left-td-style">
                        <div class="left-div-style"> Departs at :</div>
                    </td> 
                    
                    <td class="right-td-style">
                        {{a.depart_time}}
                    </td>
                </tr>
                <tr>
                    <td class="left-td-style">
                        <div class="left-div-style"> Arrives at :</div>
                    </td> 
                    
                    <td class="right-td-style">
                        {{a.arrival_time}}
                    </td>
                </tr>
                <tr>
                    <td class="left-td-style">
                        <div class="left-div-style"> From :</div>
                    </td> 
                    
                    <td class="right-td-style">
                        {{a.depart_location}}
                    </td>
                </tr>
                <tr>
                    <td class="left-td-style">
                        <div class="left-div-style"> To :</div>
                    </td> 
                    
                    <td class="right-td-style">
                        {{a.arrival_location}}
                    </td>
                </tr>
                <tr>
                    <td class="left-td-style">
                        <div class="left-div-style"> People travelling :</div>
                    </td> 
                    
                    <td class="right-td-style">
                        <b>{{a.user.username}}</b>
                    </td>
                </tr>
            </table>

            {% endif %}
            {% endif %}

            {% if not flight_list is None %}
            {% if a in flight_list %}
            <h2>Flight</h2>
            <table>
                <tr>
                    <td class="left-td-style">
                        <div class="left-div-style"> Departs at :</div>
                    </td> 
                    
                    <td class="right-td-style">
                        {{a.depart_time}}
                    </td>
                </tr>
                <tr>
                    <td class="left-td-style">
                        <div class="left-div-style"> Arrives at :</div>
                    </td> 
                    
                    <td class="right-td-style">
                        {{a.arrival_time}}
                    </td>
                </tr>
                <tr>
                    <td class="left-td-style">
                        <div class="left-div-style"> From :</div>
                    </td> 
                    
                    <td class="right-td-style">
                        {{a.depart_location}}
                    </td>
                </tr>
                <tr>
                    <td class="left-td-style">
                        <div class="left-div-style"> To :</div>
                    </td> 
                    
                    <td class="right-td-style">
                        {{a.arrival_location}}
                    </td>
                </tr>
                <tr>
                    <td class="left-td-style">
                        <div class="left-div-style"> Flight number :</div>
                    </td> 
                    
                    <td class="right-td-style">
                        {{a.flight_number}}
                    </td>
                </tr>
                <tr>
                    <td class="left-td-style">
                        <div class="left-div-style"> Class :</div>
                    </td> 
                    
                    <td class="right-td-style">
                        {{a.flight_class}}
                    </td>
                </tr>
                <tr>
                    <td class="left-td-style">
                        <div class="left-div-style"> People travelling :</div>
                    </td> 
                    
                    <td class="right-td-style">
                        <b>{{a.user.username}}</b>
                    </td>
                </tr>
            </table>
            {% endif %}
            {% endif %}

            {% if not settime_list is None %}
            {% if a in settime_list %}
            <h2>Settime</h2>
            <table>
                <tr>
                    <td class="left-td-style">
                        <div class="left-div-style"> Starts at :</div>
                    </td> 
                    
                    <td class="right-td-style">
                        {{a.depart_time}}
                    </td>
                </tr>
                <tr>
                    <td class="left-td-style">
                        <div class="left-div-style"> Finishes at :</div>
                    </td> 
                    
                    <td class="right-td-style">
                        {{a.arrival_time}}
                    </td>
                </tr>
                <tr>
                    <td class="left-td-style">
                        <div class="left-div-style"> Location :</div>
                    </td> 
                    
                    <td class="right-td-style">
                        {{a.venue.venue_name}}
                    </td>
                </tr>
                <tr>
                    <td class="left-td-style">
                        <div class="left-div-style"> People included :</div>
                    </td> 
                    
                    <td class="right-td-style">
                        <b>{{a.user.username}}</b>
                    </td>
                </tr>
            </table>
        
            {% endif %}
            {% endif %}
            {% endfor %}

           
        </div>

</body>

</html>