
<html>
    <body>
    <div>
        <h2>Cab</h2>
        <hr>
        <div style="width: 90%;margin: auto;">
            <div style="display: flex;align-items: center;justify-content: center;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">User name:</div>
                <div style="padding-left: 10px;width: 75%;">{{cab_list.user.username}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Gig title: </div>
                <div style="padding-left: 5px;width: 75%;">{{cab_list.gig.title}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Depart location: </div>
                <div style="padding-left: 10px;width: 75%;">{{cab_list.depart_location}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Depart lat long: </div>
                <div style="padding-left: 10px;width: 75%;">{{cab_list.depart_lat_long}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Depart time: </div>
                <div style="padding-left: 10px;width: 75%;">{{cab_list.depart_time}}</div>
            </div>
            
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Arrival location: </div>
                <div style="padding-left: 10px;width: 75%;">{{cab_list.arrival_location}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Arrival lat long: </div>
                <div style="padding-left: 10px;width: 75%;">{{cab_list.arrival_lat_long}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Arrival time: </div>
                <div style="padding-left: 10px;width: 75%;">{{cab_list.arrival_time}}</div>
            </div>
            
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Driver name: </div>
                <div style="padding-left: 10px;width: 75%;">{{cab_list.driver_name}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Driver number: </div>
                <div style="padding-left: 10px;width: 75%;">{{cab_list.driver_number}}</div>
            </div>
            
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Wether: </div>
                <div style="padding-left: 10px;width: 75%;">{{cab_list.wather}}</div>
            </div>
        </div>
            
    </div>
        
        
    </body>
    </html>