
<html>
    <body>
    <div>
        <h2>Contacts</h2>
        <hr>
      
        <div style="width: 90%;margin: auto;">
            <div style="display: flex;align-items: center;justify-content: center;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">User name:</div>
                <div style="padding-left: 10px;width: 75%;">{{contact_list.user.username}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Gig title: </div>
                <div style="padding-left: 5px;width: 75%;">{{contact_list.gig.title}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Type: </div>
                <div style="padding-left: 10px;width: 75%;">{{contact_list.type}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Name: </div>
                <div style="padding-left: 10px;width: 75%;">{{contact_list.name}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Number: </div>
                <div style="padding-left: 10px;width: 75%;">{{contact_list.number}}</div>
            </div>
            
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Email: </div>
                <div style="padding-left: 10px;width: 75%;">{{contact_list.email}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Travelling party: </div>
                <div style="padding-left: 10px;width: 75%;">{{contact_list.travelling_party}}</div>
            </div>
           
        </div>
    </div>
    </body>
    </html>