
<html>


    <body>
    <div>
        <h2>Gig</h2>
        <hr>
        <div style="width: 90%;margin: auto;">
            <div style="display: flex;align-items: center;justify-content: center;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Cover image:</div>
                <div style="padding-left: 10px;width: 75%;">{{gig_list.cover_image}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Title: </div>
                <div style="padding-left: 5px;width: 75%;">{{gig_list.title}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">User: </div>
                
                <div style="padding-left: 10px;width: 75%;">{{gig_list.user}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Start date: </div>
                <div style="padding-left: 10px;width: 75%;">{{gig_list.start_date}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">End date: </div>
                <div style="padding-left: 10px;width: 75%;">{{gig_list.end_date}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Location: </div>
                <div style="padding-left: 10px;width: 75%;">{{gig_list.location}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Show: </div>
                <div style="padding-left: 10px;width: 75%;">{{gig_list.show}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Stage: </div>
                <div style="padding-left: 10px;width: 75%;">{{gig_list.stage}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Visa: </div>
                <div style="padding-left: 10px;width: 75%;">{{gig_list.visa}}</div>
            </div>
            <div style="display: flex;">
               
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Equipment: </div>
                <div style="padding-left: 10px;width: 75%;">{{gig_list.Equipment}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Sound check time: </div>
                <div style="padding-left: 10px;width: 75%;">{{gig_list.sound_check_time}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Equipment email: </div>
                <div style="padding-left: 10px;width: 75%;">{{gig_list.Equipment_email}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Equipment Descriptions: </div>
                <div style="padding-left: 10px;width: 75%;">{{gig_list.descriptions}}</div>
            </div>
        </div>
            
    </div>
        
        
    </body>
    </html>