
<html>
    <body>
    <div>
        <h2>Guestlist</h2>
        <hr>
      
        <div style="width: 90%;margin: auto;">
            <div style="display: flex;align-items: center;justify-content: center;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">User name:</div>
                <div style="padding-left: 10px;width: 75%;">{{guest_list.user.username}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Gig title: </div>
                <div style="padding-left: 5px;width: 75%;">{{guest_list.gig.title}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Guestlist: </div>
                <div style="padding-left: 10px;width: 75%;">{{guest_list.guestlist}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;"> </div>
                <div style="padding-left: 10px;width: 75%;">{{guest_list.name}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;"> </div>
                <div style="padding-left: 10px;width: 75%;">{{guest_list.email}}</div>
            </div>
            
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;"> </div>
                <div style="padding-left: 10px;width: 75%;">{{guest_list.contact_no}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;"> </div>
                <div style="padding-left: 10px;width: 75%;">{{guest_list.guestlist.detail}}</div>
            </div>
           
        </div>
    </div>
    </body>
    </html>