
<html>
    <body>
    <div>
        <h2>Hotel</h2>
        <hr>
      
        <div style="width: 90%;margin: auto;">
            <div style="display: flex;align-items: center;justify-content: center;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">User name:</div>
                <div style="padding-left: 10px;width: 75%;">{{hotel_list.user.username}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Gig title: </div>
                <div style="padding-left: 5px;width: 75%;">{{hotel_list.gig.title}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Hotel name: </div>
                <div style="padding-left: 10px;width: 75%;">{{hotel_list.hotel_name}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Address: </div>
                <div style="padding-left: 10px;width: 75%;">{{hotel_list.address}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Direction: </div>
                <div style="padding-left: 10px;width: 75%;">{{hotel_list.direction}}</div>
            </div>
            
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Website: </div>
                <div style="padding-left: 10px;width: 75%;">{{hotel_list.website}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Number: </div>
                <div style="padding-left: 10px;width: 75%;">{{hotel_list.number}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Room buyout: </div>
                <div style="padding-left: 10px;width: 75%;">{{hotel_list.room_buyout}}</div>
            </div>
        </div>
    </div>
    </body>
    </html>