
<html>
    <body>
    <div>
        <h2>Venue</h2>
        <hr>
        <div style="width: 90%;margin: auto;">
            <div style="display: flex;align-items: center;justify-content: center;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">User name:</div>
                <div style="padding-left: 10px;width: 75%;">{{venue_list.user.username}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Gig title: </div>
                <div style="padding-left: 5px;width: 75%;">{{venue_list.gig.title}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Venue name: </div>
                <div style="padding-left: 10px;width: 75%;">{{venue_list.venue_name}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Address: </div>
                <div style="padding-left: 10px;width: 75%;">{{venue_list.address}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Direction: </div>
                <div style="padding-left: 10px;width: 75%;">{{venue_list.direction}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Website: </div>
                <div style="padding-left: 10px;width: 75%;">{{venue_list.website}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Number: </div>
                <div style="padding-left: 10px;width: 75%;">{{venue_list.number}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Indoor: </div>
                <div style="padding-left: 10px;width: 75%;">{{venue_list.indoor}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Covered: </div>
                <div style="padding-left: 10px;width: 75%;">{{venue_list.covered}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Capacity: </div>
                <div style="padding-left: 10px;width: 75%;">{{venue_list.capacity}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Wether: </div>
                <div style="padding-left: 10px;width: 75%;">{{venue_list.wather}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Credential collection: </div>
                <div style="padding-left: 10px;width: 75%;">{{venue_list.credential_collection}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Dressing room: </div>
                <div style="padding-left: 10px;width: 75%;">{{venue_list.dressing_room}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Hospitality: </div>
                <div style="padding-left: 10px;width: 75%;">{{venue_list.hospitality}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;"> </div>
                <div style="padding-left: 10px;width: 75%;">{{venue_list.hospitality_detail}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;"> </div>
                <div style="padding-left: 10px;width: 75%;">{{venue_list.hospitality_email}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;">Catring: </div>
                <div style="padding-left: 10px;width: 75%;">{{venue_list.catring}}</div>
            </div>
            <div style="display: flex;">
                <div style="padding-bottom: 5px;width: 25%;text-align: end;"> </div>
                <div style="padding-left: 10px;width: 75%;">{{venue_list.catring_detail}}</div>
            </div>
        </div>
    </div>
        
        
    </body>
    </html>